body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Changed from center to flex-start */
    min-height: 100vh; /* Changed from height to min-height */
    background-color: #121212; /* Dark background */
    color: #e0e0e0; /* Light text color */
}
h1 {
    color: #e0e0e0; /* Light text color */
    font-size: 2.5em;
    margin: 10px 0; /* Added margin to top and bottom */
    text-align: center;
}
.container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 90%;
    max-width: 1200px;
    margin: 10px 0;
}
#myChart {
    background-color: #1e1e1e; /* Dark chart background */
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Darker shadow */
    border-radius: 10px;
    flex: 1;
    margin-right: 10px;
}
/* Additional styles for chart elements */
.chartjs-render-monitor {
    background-color: #1e1e1e; /* Dark background for chart */
}

.top-section {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 80%;
    max-width: 1200px;
    margin-bottom: 20px;
}

/* Styles for the form */
form {
    background-color: #1e1e1e; /* Dark background for the form */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Darker shadow */
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
    width: 100%;
    max-width: 400px;
}
form label {
    margin-bottom: 10px;
    font-size: 1.2em;
}
form input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 100%;
    max-width: 300px;
    background-color: #333;
    color: #e0e0e0;
}
form button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #2196F3; /* Blue button */
    color: #fff;
    cursor: pointer;
    font-size: 1em;
}
form button:hover {
    background-color: #1976D2; /* Darker blue on hover */
}

#string-table {
    width: 50%;
    background-color: #1e1e1e;
    border-collapse: collapse;
}

#string-table th, #string-table td {
    border: 1px solid #444;
    padding: 10px;
    text-align: left;
}

#string-table button {
    padding: 5px 10px;
    background-color: #ff4444;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#string-table button:hover {
    background-color: #cc0000;
}

/* Styles for the form response */
#form-response {
    margin-top: 10px;
    color: #e0e0e0; /* Light text color */
}
